<div class="modal" id="order-show-<%= order.id %>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Order </h4>
      </div>
      <div class="modal-body">
        <p>
          <strong>Number of cans:</strong>
          <%= order.number_of_cans %>
        </p>
        <p>
          <strong>Water Brand:</strong>
          <%= order.water_brand %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>